form{
  width: 50%;
  margin: 30px;
  color: #fc4a37;
  text-shadow: 1px 1px 1px #300b07;
}
#showDetails{
  display: none;
}
.place:hover {
  color: green;
  text-decoration: underline;
}
.place {
  color: blue;
  cursor: pointer;
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
